@import 'src/theme/styles.scss';
@include mamut-button-classes;
@include mamut-item-class;

ion-menu-button {
    color: var(--ion-color-primary);
}

.header {
    &__toolbar {
        &__title {
            --color: var(--ion-color-light);
        }
    }
}

.container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;

    &__back-button {
        position: fixed;
        transform: translate(-50%, -50%);
        left: 30px;
        top: 40px;
        --padding-start: 0;
        --padding-end: 0;
        --padding-top: 0;
        --padding-bottom: 0;

        &__arrow {
            color: white;
            font-size: 40px;
        }
    }

    .buttons {
        display: flex;
        flex-grow: 1;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-left: 25px;
        margin-right: 25px;

        img {
        }

        ion-button {
            min-width: 50%;

            &:nth-last-child(1) {
                @include mamut-button-generic;
                --color: white;
            }
        }

        p {
            color: white;
            font-size: 1.1em;
        }
    }
}

ion-content {
    --background: rgb(33, 48, 89);
}
