<ion-content [fullscreen]="true">
  <div class="container">
    <ion-button class="container__back-button" fill="clear" shape="round" (click)="backButtonAction()">
      <ion-icon slot="icon-only" name="arrow-back-outline" class="container__back-button__arrow"></ion-icon>
    </ion-button>

    <div class="buttons">
      <img src="/assets/icon/mamut_vertical_azul.svg" width="200" />

      <p>{{ 'HAVE_ACCOUNT.LOGIN_HEADER_TEXT' | translate }}</p>
      
      <ion-button type="submit" expand="block" fill="outline" shape="round" class="mamut-button" (click)="loginButtonAction()">
        {{ 'HAVE_ACCOUNT.LOGIN_BUTTON_LABEL' | translate }}
      </ion-button>

      <p>{{ 'HAVE_ACCOUNT.SIGNUP_HEADER_TEXT' | translate }}</p>

      <ion-button type="submit" expand="block" fill="outline" shape="round" (click)="signupButtonAction()">
        {{ 'HAVE_ACCOUNT.SIGNUP_BUTTON_LABEL' | translate }}
      </ion-button>
    </div>

  </div>
</ion-content>
