<ion-content [fullscreen]="true">
  <div class="container">
    <ion-button class="container__back-button" fill="clear" shape="round" (click)="backButtonAction()">
      <ion-icon slot="icon-only" name="arrow-back-outline" class="container__back-button__arrow"></ion-icon>
    </ion-button>

    <img src="/assets/icon/akame_logo_azul.png" width="200"/>

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <ion-item class="mamut-item" [ngClass]="{'mamut-item--invalid': (loginForm.get('name').errors && loginForm.get('name').touched)}">
        <ion-label position="fixed">{{ 'LOGIN.USERNAME_LABEL' | translate }}</ion-label>
        <ion-input formControlName="name" fill="outline"></ion-input>
      </ion-item>

      <ion-item class="mamut-item" [ngClass]="{'mamut-item--invalid': (loginForm.get('password').errors && loginForm.get('password').touched)}">
        <ion-label position="fixed">{{ 'LOGIN.PASSWORD_LABEL' | translate }}</ion-label>
        <ion-input type="password" formControlName="password" fill="outline"></ion-input>
      </ion-item>

      <ion-button type="submit" expand="block" fill="outline" shape="round" class="mamut-button" [disabled]="loginForm.invalid">
        {{ 'LOGIN.LOGIN_BUTTON' | translate }}
      </ion-button>

      <a [routerLink]="['/signup']" class="mamut-item">
        {{ 'LOGIN.SIGNUP_LABEL' | translate }}
      </a>

      <a [routerLink]="['/forgot-password']" class="mamut-item">
        {{ 'LOGIN.FORGOT_PASSWORD_LABEL' | translate }}
      </a>
      <button type="submit" style="display:none">hs</button>
    </form>
  </div>
</ion-content>
