@import 'src/theme/styles.scss';
@include mamut-button-classes;
@include mamut-item-class;

ion-menu-button {
    color: var(--ion-color-primary);
}

.header {
    &__toolbar {
        &__title {
            --color: var(--ion-color-light);
        }
    }
}

.container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;

    &__back-button {
        position: fixed;
        transform: translate(-50%, -50%);
        left: 30px;
        top: 40px;
        --padding-start: 0;
        --padding-end: 0;
        --padding-top: 0;
        --padding-bottom: 0;

        &__arrow {
            color: white;
            font-size: 40px;
        }
    }

    form {
        margin-left: 20px;
        margin-right: 20px;

        > * {
            margin-top: 10px;
        }

        a {
            display: flex;
            margin-top: 15px;
            justify-content: center;
        }
    }
}

ion-toolbar {
    --background: var(--ion-color-tertiary);
}

ion-content {
    --background: rgb(33, 48, 89);
}