/*Global ionic customizations*/

:root {
    --ion-font-family: "Gravity";
}

ion-button {
    text-transform: none !important; // Show the text of the button without any text transformation
}

ion-card {
    border-radius: 16px;
}

.token-modal {
    --min-width: 50vw;
}

.token-modal-button {
    color: var(--ion-color-secondary) !important;
}

.alert-wrapper {
    width: 100% !important;
    max-width: 320px !important;
    .alert-radio-label {
        white-space: normal;
    }
}

.container__card__title {
    font-weight: bold;
}

.toast-text-center {
    text-align: center;
}

.e-accordion {
    border: none;
}