@font-face {
    font-family: 'Gravity';
    font-style: normal;
    font-weight: normal;
    src: url('src/assets/fonts/gravity/Gravity-Regular.otf') format("opentype");
}

@font-face {
    font-family: 'Gravity';
    font-style: normal;
    font-weight: bold;
    src: url('src/assets/fonts/gravity/Gravity-Bold.otf') format("opentype");
}

@font-face {
    font-family: 'Gravity';
    font-style: italic;
    font-weight: normal;
    src: url('src/assets/fonts/gravity/Gravity-Italic.otf') format("opentype");
}

@font-face {
    font-family: 'Gravity';
    font-style: italic;
    font-weight: bold;
    src: url('src/assets/fonts/gravity/Gravity-BoldItalic.otf') format("opentype");
}
