@mixin mamut-button-generic {
    --border-color: var(--ion-color-tertiary);
    --border-width: 3px;
    font-weight: bold;
    --padding-bottom: 20px;
    --padding-top: 20px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

@mixin mamut-button-classes {
    .mamut-button {
        @include mamut-button-generic;
        --background: var(--ion-color-primary);
        --color: var(--ion-color-secondary);
    }

    .mamut-button-blue {
        @include mamut-button-generic;
        --background: var(--ion-color-secondary);
        --color: var(--ion-color-primary);
    }
}

@mixin mamut-item-class {
    .mamut-item {
        --background: transparent;
        --color: white;
        --border-color: var(--ion-color-tertiary);
        --border-width: 3px;
        --border-radius: 30px;
        --highlight-color-valid: none;
        --highlight-color-invalid: none;
    
        &--invalid {
            --border-color: var(--ion-color-danger);
        }
    
        ion-label {
            flex: none;
            width: auto;
            min-width: auto;
        }
    }
}


@mixin mamut-flat-card-class {
    .mamut-flat-card {
        border-radius: 0;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 0;
        margin-right: 0;

        ion-card-content {
            padding: 0;
        }
    }
}

@mixin mamut-responsive-card {
    @media (min-width: 1025px) {
        ion-card {
            margin-left: 20%;
            margin-right: 20%;
        }
    }
}
