<app-shared-component-ps-spinner *ngIf="showSpinner"></app-shared-component-ps-spinner>

<ion-app>
    <ion-split-pane contentId="main-content">
        <ion-menu contentId="main-content" type="overlay" side="start">
            <ion-content>
                <ion-list id="inbox-list">
                    <ion-list-header class="logo">
                        <img src="/assets/icon/akame_logo_azul.png" width="150" />
                    </ion-list-header>
                    <ion-menu-toggle auto-hide="false">
                        <ng-container *ngFor="let p of appPages; let i = index">
                            <ion-item (click)="selectedIndex = i" routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" [class.selected]="selectedIndex == i" *ngIf="!p?.hide">
                                <ion-icon slot="end" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
                                <ion-label>{{ p.title }}</ion-label>
                            </ion-item>
                        </ng-container>

                        <ion-item (click)="logoutAction()" class="hand-cursor" routerDirection="root" lines="none" *ngIf="token">
                            <ion-icon slot="end" [ios]="'person-remove'" [md]="'person-remove-outline'"></ion-icon>
                            <ion-label>{{ 'MENU.LOGOUT' | translate }}</ion-label>
                        </ion-item>
                    </ion-menu-toggle>
                </ion-list>
            </ion-content>
            <ion-item>
                <ion-label>{{ 'MENU.COPY_RIGTHS' | translate }}</ion-label>
            </ion-item>
            <ion-item (click)="showTermConditions()" routerDirection="root" lines="none" class="hand-cursor">
                <ion-label>{{ 'MENU.TERM_CONDITIONS' | translate }}</ion-label>
            </ion-item>
        </ion-menu>

        <ion-router-outlet id="main-content"></ion-router-outlet>
    </ion-split-pane>
</ion-app>