@import 'src/theme/styles.scss';
@include mamut-button-classes;

.show-details-modal {
    display: flex;
    flex-direction: column;

    &__grid {
        &--rubric {
            display: flex;
            justify-content: flex-end;
        }
        &--center {
            display: flex;
            justify-content: center;
        }        
    }
}