<ion-header translucent>
    <ion-toolbar>
        <ion-title>{{ 'CALCULATOR.DETAILS_MODAL.TITLE' | translate }}</ion-title>
        <ion-buttons slot="end">
            <ion-button size="medium" color="secondary" (click)="closeModal()">
                {{ 'CALCULATOR.DETAILS_MODAL.CLOSE_MODAL_BUTTON' | translate }}</ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content fullscreen class="show-details-modal">
    <div class="show-details-modal__grid">
        <ion-grid>
            <ion-row>
                <ion-col offset="1">
                    {{ 'CALCULATOR.DETAILS_MODAL.LOAN_AMOUNT' | translate }}
                </ion-col>

                <ion-col pull="1" class="show-details-modal__grid--rubric">
                    {{ details?.loanAmount }}
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col offset="1">
                    {{ 'CALCULATOR.DETAILS_MODAL.INTEREST' | translate }}
                </ion-col>

                <ion-col pull="1" class="show-details-modal__grid--rubric">
                    {{ details?.totalInterests }}
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col offset="1">
                    {{ 'CALCULATOR.DETAILS_MODAL.INSURANCE' | translate }}
                </ion-col>

                <ion-col pull="1" class="show-details-modal__grid--rubric">
                    {{ details?.insurance }}
                </ion-col>
            </ion-row>


            <ion-row>
                <ion-col offset="1">
                    {{ 'CALCULATOR.DETAILS_MODAL.ADMINISTRATION' | translate }}
                </ion-col>

                <ion-col pull="1" class="show-details-modal__grid--rubric">
                    {{ details?.administration }}
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col offset="1">
                    {{ 'CALCULATOR.DETAILS_MODAL.DIGITAL_PLATFORM' | translate }}
                </ion-col>

                <ion-col pull="1" class="show-details-modal__grid--rubric">
                    {{ details?.totalDigitalServices }}
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col offset="1">
                    {{ 'CALCULATOR.DETAILS_MODAL.ENDORSEMENT' | translate }}
                </ion-col>

                <ion-col pull="1" class="show-details-modal__grid--rubric">
                    {{ details?.endorsement }}
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col offset="1">
                    {{ 'CALCULATOR.DETAILS_MODAL.VAT' | translate }}
                </ion-col>

                <ion-col pull="1" class="show-details-modal__grid--rubric">
                    {{ details?.vat }}
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col offset="1">
                    {{ 'CALCULATOR.DETAILS_MODAL.PAYMENT_AMOUNT' | translate }}
                </ion-col>

                <ion-col pull="1" class="show-details-modal__grid--rubric">
                    <strong>{{ details?.paymentAmount }}</strong>
                </ion-col>
            </ion-row>

            <!-- <ion-row>
                <ion-col>
                    {{ 'CALCULATOR.DETAILS_MODAL.FACE_CONDITIONS' | translate }}
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col class="show-details-modal__grid--center">
                    <ion-button expand="block" fill="outline" shape="round" class="mamut-button-blue" (click)="learnMoreClick(); closeModal();">{{ 'CALCULATOR.DETAILS_MODAL.LEARN_MORE' | translate }}</ion-button>
                </ion-col>
            </ion-row> -->
        </ion-grid>
    </div>
</ion-content>
