<ion-header [translucent]="true" class="header">
    <ion-toolbar class="header__toolbar">
        <img src="/assets/icon/mamut_horizontal_azul.png" width="180" class="header__toolbar__logo">
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <div class="container">
        <h1 class="container__page-title" title="">{{ 'ACCOUNT_CONFIRMATION.TITLE' | translate }}</h1>
        <ion-card class="container__card">
            <ion-card-content>
                <p *ngIf="isTokenValid">{{ 'ACCOUNT_CONFIRMATION.SUCCESS_CONFIRMATION' | translate }}</p>
                <p *ngIf="!isTokenValid">{{ 'ACCOUNT_CONFIRMATION.ERROR_CONFIRMATION' | translate }}</p>
            </ion-card-content>
        </ion-card>
    </div>
</ion-content>

<ion-footer class="ion-no-border">
    <ion-toolbar>
        <ion-row>
            <ion-col>
                <ion-button *ngIf="isTokenValid" expand="block" fill="outline" shape="round" class="mamut-button-blue" (click)="goLogin()">
                    {{ 'LOGIN.GO_LOGIN_BUTTON' | translate }}
                </ion-button>
                <ion-button *ngIf="!isTokenValid" expand="block" fill="outline" shape="round" class="mamut-button-blue" (click)="goRegister()">
                    {{ 'LOGIN.SIGNUP_LABEL' | translate }}
                </ion-button>
            </ion-col>
        </ion-row>
    </ion-toolbar>
</ion-footer>