@import 'src/theme/styles.scss';
@include mamut-button-classes;

ion-menu-button {
    color: var(--ion-color-primary);
}

.header {
    &__toolbar {
        --background: rgb(33, 48, 89);
        --opacity: 1;
    
        &__logo {
            padding: 10px;
        }
    }

    &__menu-button-toolbar {
        --background: var(--ion-color-tertiary);
        --opacity: 1;
        --min-height: 35px;

        &__buttons {
            display: flex;
            justify-content: space-between;
            padding-left: 10px;
            padding-right: 10px;
            &__icons {
                height: 40px;
                width: 40px;
                color: white;
            }
        }
    }
}

.container {

    &__page-title {
        display: flex;
        flex-grow: 1;
        justify-content: center;
        padding: 12px;
        color: var(--ion-color-secondary);
        font-weight: bold;
        font-size: 1.1em;
    }

    &__card {
        --background: rgb(245, 244, 174);
        --color: var(--ion-color-secondary);
        box-shadow: none;

        &__title {
            &--amount {
                display: flex;
                flex-direction: column;
                align-items: center;
            }
            &__amount {
                display: flex;
                justify-content: center;
                font-weight: bold;
            }
        }

        &__content {
            display: flex;
            &--center {
                flex-direction: column;
                align-items: center;
            }

            &--loan-details {
                display: flex;
                align-items: center;
                justify-content: space-between;
            }

            &__detail-icon {
                cursor: pointer;
            }
        }

        &__errors {
            display: flex;
            flex-direction: column;
            color: var(--ion-color-danger);
            &__error {

            }
        }
    }
}
