<div class="ps-spinner" [style.borderRadius]="borderRadius" [style.marginTop]="marginTop" [style.height]="height">
  <div class="ps-spinner__container">
    <div class="ps-spinner__container__loader"></div>
    <div class="ps-spinner__container__text">{{ spinnerText }}</div>
  </div>
</div>
