.ps-spinner {
  display: flex;
  flex-direction: column;
  position: absolute;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
  z-index: 2;

  &__container {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 10px 50px;
      border-radius: 4px;
      background-color: #f8e019;

      &__loader {
        border: 10px solid #f3f3f3;
        border-radius: 50%;
        border-top: 10px solid #555;
        width: 40px;
        height: 40px;
        -webkit-animation: spin 1s linear infinite; /* Safari */
        animation: spin 1s linear infinite;
      }
    
      &__text {
          color: #203059;
      }
  }
}


/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
