ion-menu-button {
    color: var(--ion-color-primary);
}

.header {
    &__toolbar {
        &__title {
            --color: var(--ion-color-light);
        }
    }
}

.container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;

    &__back-button {
        position: fixed;
        transform: translate(-50%, -50%);
        left: 30px;
        top: 40px;
        --padding-start: 0;
        --padding-end: 0;
        --padding-top: 0;
        --padding-bottom: 0;

        &__arrow {
            color: white;
            font-size: 40px;
        }
    }

    form {
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 10px;

        > * {
            margin-top: 10px;
        }

        ion-button {
            margin-bottom: 10px;
        }

        a {
            display: flex;
            margin-top: 15px;
            justify-content: center;
        }
    }
}

ion-toolbar {
    --background: var(--ion-color-tertiary);
}

.mamut-button {
    --border-color: var(--ion-color-tertiary);
    --border-width: 3px;
    --background: var(--ion-color-primary);
    --color: var(--ion-color-secondary);
    font-weight: bold;
    --padding-bottom: 20px;
    --padding-top: 20px;
}

.mamut-item {
    --background: transparent;
    --color: white;
    --border-color: var(--ion-color-tertiary);
    --border-width: 3px;
    --border-radius: 30px;
    --highlight-color-valid: none;
    --highlight-color-invalid: none;

    &--invalid {
        --border-color: var(--ion-color-danger);
    }

    ion-label {
        flex: none;
        width: auto;
        min-width: auto;
    }
}

ion-content {
    --background: rgb(33, 48, 89);
}