<ion-content [fullscreen]="true">
  <div class="container">
    <ion-button class="container__back-button" fill="clear" shape="round" (click)="backButtonAction()">
      <ion-icon slot="icon-only" name="arrow-back-outline" class="container__back-button__arrow"></ion-icon>
    </ion-button>

    <img src="/assets/icon/akame_logo_azul.png" width="200"/>

    <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
      <ion-item class="mamut-item" [ngClass]="{'mamut-item--invalid': (signupForm.get('name').errors && signupForm.get('name').touched)}">
        <ion-label position="fixed">{{ 'SIGNUP.USERNAME_LABEL' | translate }}</ion-label>
        <ion-input formControlName="name" fill="outline"></ion-input>
      </ion-item>

      <ion-item class="mamut-item" [ngClass]="{'mamut-item--invalid': (signupForm.get('email').errors && signupForm.get('email').touched)}">
        <ion-label position="fixed">{{ 'SIGNUP.EMAIL_LABEL' | translate }}</ion-label>
        <ion-input formControlName="email" fill="outline"></ion-input>
      </ion-item>

      <ion-item class="mamut-item" [ngClass]="{'mamut-item--invalid': (signupForm.get('password').errors && signupForm.get('password').touched)}">
        <ion-label position="fixed">{{ 'SIGNUP.PASSWORD_LABEL' | translate }}</ion-label>
        <ion-input type="password" formControlName="password" fill="outline"></ion-input>
      </ion-item>


      <ion-item class="mamut-item" [ngClass]="{'mamut-item--invalid': (signupForm.get('confirmPassword').errors && signupForm.get('confirmPassword').touched)}">
        <ion-label position="fixed">{{ 'SIGNUP.CONFIRM_PASSWORD_LABEL' | translate }}</ion-label>
        <ion-input type="password" formControlName="confirmPassword" fill="outline"></ion-input>
      </ion-item>

      <ion-button type="submit" expand="block" fill="outline" shape="round" class="mamut-button" [disabled]="signupForm.invalid">
        {{ 'SIGNUP.SIGNUP_BUTTON' | translate }}
      </ion-button>

      <a [routerLink]="['/login']" class="mamut-item">
        {{ 'SIGNUP.LOGIN_LABEL' | translate }}
      </a>
    </form>
  </div>
</ion-content>
