@import "src/theme/styles.scss";
@include mamut-button-classes;

ion-menu-button {
    color: var(--ion-color-primary);
}

.header {
    &__toolbar {
        --background: rgb(33, 48, 89);
        --opacity: 1;

        &__logo {
            padding: 10px;
        }
    }

    &__menu-button-toolbar {
        --background: var(--ion-color-tertiary);
        --opacity: 1;
        --min-height: 35px;

        &__buttons {
            display: flex;
            justify-content: space-between;
            padding-left: 10px;
            padding-right: 10px;
            &__icons {
                height: 40px;
                width: 40px;
                color: white;
            }
            a {
                &:link {
                    color: white;
                }
                &:visited {
                    color: white;
                }
                &:hover {
                    color: white;
                }
                &:active {
                    color: white;
                }
            }
        }
    }
}

.container {
    &__columns {
        display: flex;
        flex-direction: column;
        justify-content: center;

        @media (min-width: 1025px) {
            flex-direction: row;
        }

        &__info {
            display: none;

            @media (min-width: 1025px) {
                display: flex;
                flex-grow: 1;
                flex-direction: column;
                align-items: center;
                flex-basis: 10%;
            }

            &__title {
                color: var(--ion-color-secondary);
                font-weight: bold;
                font-size: 1.1em;
                margin-bottom: 10px;
            }

            &__subtitle {
                color: var(--ion-color-secondary);
                font-weight: bold;
                font-size: 0.9em;
                width: 80%;
            }

            &__body {
                display: flex;
                flex-grow: 1;
                flex-direction: column;
                justify-content: flex-end;

                > div {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    margin-bottom: 5px;
                }
            }
        }
    }

    form {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        padding-bottom: 10px;

        @media (min-width: 1025px) {
            margin-right: 10px;
        }

        .title {
            display: flex;
            justify-content: center;
            color: var(--ion-color-secondary);
            font-weight: bold;
            font-size: 1.1em;
            margin-bottom: 8px;
        }

        .mamut-item {
            color: var(--ion-color-secondary);
            display: flex;
            justify-content: center;
            align-items: center;
            height: 80px;
            font-weight: bold;
        }
    }

    &__page-title {
        display: flex;
        flex-grow: 1;
        justify-content: center;
        padding: 12px;
        color: var(--ion-color-secondary);
        font-weight: bold;
        font-size: 1.2em;
    }

    &__card {
        --background: rgb(245, 244, 174);
        --color: var(--ion-color-secondary);
        box-shadow: none;

        &__title {
            &--amount {
                display: flex;
                flex-direction: column;
                align-items: center;
            }
            &__amount {
                display: flex;
                justify-content: center;
                font-weight: bold;
            }
        }

        &__content {
            display: flex;
            &--center {
                flex-direction: column;
                align-items: center;
            }

            &--loan-details {
                display: flex;
                align-items: center;
                justify-content: space-between;
            }

            &__detail-icon {
                cursor: pointer;
            }


            &__date-picker {
                position: relative;

                > input {
                    border: none;
                    box-sizing: border-box;
                    outline: 0;
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    opacity: 0;
                    z-index: 1;
                }

                &__list {
                    margin-top: 5px;
                    margin-bottom: 5px;
                    padding-top: 0;
                    padding-bottom: 0;
                }
            }
        }

        &__errors {
            display: flex;
            flex-direction: column;
            color: var(--ion-color-danger);
            &__error {
            }
        }
    }
}

input[type="date"]::-webkit-calendar-picker-indicator {
    background: transparent;
    bottom: 0;
    color: transparent;
    cursor: pointer;
    height: auto;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: auto;
}
