<ion-header [translucent]="true" class="header">
    <ion-toolbar class="header__toolbar">
        <img src="/assets/icon/akame_logo_azul.png" width="180" class="header__toolbar__logo">
    </ion-toolbar>

    <ion-toolbar class="header__menu-button-toolbar">
        <ion-buttons class="header__menu-button-toolbar__buttons">
            <ion-menu-button class="header__menu-button-toolbar__buttons__icons"></ion-menu-button>
            <a href="/assets/documents/instructivos.pdf" target="_blank">{{ 'GLOBAL.INSTRUCTIONS' | translate }}</a>
            <a href="">{{ 'GLOBAL.CONTACT_US' | translate }}</a>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <div class="container">


        <span class="container__page-title">
    </span>


        <div class="container__columns">

            <div class="container__columns__info">
                <span class="container__columns__info__title">{{ 'CALCULATOR.INFO.TITLE' | translate }}</span>
                <span class="container__columns__info__subtitle">{{ 'CALCULATOR.INFO.SUBTITLE' | translate }}</span>
                <div class="container__columns__info__body">
                    <div>
                        <ion-icon name="checkmark-outline" size="large"></ion-icon>
                        <span>{{ 'CALCULATOR.INFO.LINE0' | translate }}</span>
                    </div>
                    <div>
                        <ion-icon name="checkmark-outline" size="large"></ion-icon>
                        <span>{{ 'CALCULATOR.INFO.LINE1' | translate }}</span>
                    </div>
                    <div>
                        <ion-icon name="checkmark-outline" size="large"></ion-icon>
                        <span>{{ 'CALCULATOR.INFO.LINE2' | translate }}</span>
                    </div>
                    <div>
                        <ion-icon name="checkmark-outline" size="large"></ion-icon>
                        <span>{{ 'CALCULATOR.INFO.LINE3' | translate }}</span>
                    </div>
                    <div>
                        <ion-icon name="checkmark-outline" size="large"></ion-icon>
                        <span>{{ 'CALCULATOR.INFO.LINE4' | translate }}</span>
                    </div>
                    <div>
                        <ion-icon name="checkmark-outline" size="large"></ion-icon>
                        <span>{{ 'CALCULATOR.INFO.LINE5' | translate }}</span>
                    </div>
                </div>
            </div>

            <form>
                <span class="title">{{ 'CALCULATOR.TITLE' | translate }}</span>
                <ion-card class="container__card">
                    <ion-card-content>
                        <span class="container__card__title container__card__title--amount">
                          <span>
                            {{ 'CALCULATOR.AMOUNT_TITLE' | translate }}
                          </span>
                        <span class="container__card__title__amount">
                            {{ details?.loanAmount }}
                          </span>
                        </span>
                        <ion-range size="medium" min="1" max="1" step="1" value="1" snaps color="secondary" debounce="150" (ionChange)="rangeAmountChanged()" #rangeAmount></ion-range>
                    </ion-card-content>
                </ion-card>

                <ion-card class="container__card">
                    <ion-card-content class="container__card__content container__card__content--center">
                        <span class="container__card__title">
                          {{ 'CALCULATOR.EXPIRATION_DATE_TITLE' | translate }}
                        </span>

                        <div class="container__card__content__date-picker">

                          <ion-list [lines]="'none'" class="container__card__content__date-picker__list">
                            <ion-item>
                              <ion-input color="secondary" inputmode="text" [value]="dateTimePicker?.value | date"></ion-input>
                              <ion-icon name="calendar-outline" color="secondary" slot="end"></ion-icon>
                            </ion-item>
                          </ion-list>
  
                          <input type="date" lang="es" #dateTimePicker (change)="expirationDateChanged()" onkeydown="return false" [min]="minDateString" [max]="maxDateString" />

                        </div>
                        <span *ngIf="!dateTimePicker?.value && invalidDate" class="container__card__errors">{{ 'CALCULATOR.DATE_OUT_OF_RANGE' | translate }}</span>
                        <span *ngIf="!dateTimePicker?.value && !invalidDate" class="container__card__errors">{{ 'CALCULATOR.MUST_SELECT_TERM_DATE' | translate }}</span>
                        <span *ngIf="dateTimePicker?.value" [innerHTML]="'CALCULATOR.I_CAN_PAY_IN_TEXT' | translate: {daysQuantity: daysQuantity}"></span>
                    </ion-card-content>
                </ion-card>

                <ion-card class="container__card">
                    <ion-card-content class="container__card__content container__card__content--loan-details">
                        <span class="container__card__title">
                          {{ 'CALCULATOR.PAYMENTS_QUANTITY_TITLE' | translate: {paymentsQuantity: paymentsQuantity, paymentAmount: details?.paymentAmount} }}
                        </span>
                        <ion-icon class="container__card__content__detail-icon" name="information-circle-outline" size="large" (click)="showDetails()"></ion-icon>
                    </ion-card-content>
                </ion-card>

                <ion-button expand="block" fill="outline" shape="round" class="mamut-button-blue" (click)="requestLoanClick()" [disabled]="!dateTimePicker?.value || dateTimePicker?.value.length === 0">
                    {{ 'CALCULATOR.REQUEST_LOAN_BUTTON' | translate }}</ion-button>
                <a [routerLink]="['/how-work']" class="mamut-item">{{ 'CALCULATOR.GET_STARTED' | translate }}
              </a>
            </form>
        </div>
    </div>
</ion-content>