<ion-content [fullscreen]="true">
  <div class="container">
    <ion-button class="container__back-button" fill="clear" shape="round" (click)="backButtonAction()">
      <ion-icon slot="icon-only" name="arrow-back-outline" class="container__back-button__arrow"></ion-icon>
    </ion-button>

    <img src="/assets/icon/mamut_vertical_azul.svg" width="200" />

    <form [formGroup]="sendEmailForm" (ngSubmit)="onSendEmailFormSubmit()" *ngIf="!token">
      <ion-item class="mamut-item"
        [ngClass]="{'mamut-item--invalid': (sendEmailForm.get('nameOrEmail').errors && sendEmailForm.get('nameOrEmail').touched)}">
        <ion-label position="fixed">{{ 'FORGOT_PASSWORD.USERNAME_OR_EMAIL_LABEL' | translate }}</ion-label>
        <ion-input formControlName="nameOrEmail" fill="outline"></ion-input>
      </ion-item>

      <ion-button type="submit" expand="block" fill="outline" shape="round" class="mamut-button"
        [disabled]="sendEmailForm.invalid">
        {{ 'FORGOT_PASSWORD.SEND_RESET_PASSWORD_EMAIL_BUTTON' | translate }}
      </ion-button>

      <a [routerLink]="['/login']" class="mamut-item">
        {{ 'FORGOT_PASSWORD.LOGIN_LABEL' | translate }}
      </a>
    </form>


    <form [formGroup]="changePasswordForm" (ngSubmit)="onChangePasswordFormSubmit()" *ngIf="token">
      <ion-item class="mamut-item"
        [ngClass]="{'mamut-item--invalid': (changePasswordForm.get('password').errors && changePasswordForm.get('password').touched)}">
        <ion-label position="fixed">{{ 'FORGOT_PASSWORD.PASSWORD_INPUT_LABEL' | translate }}</ion-label>
        <ion-input formControlName="password" type="password" fill="outline"></ion-input>
      </ion-item>

      <ion-item class="mamut-item"
        [ngClass]="{'mamut-item--invalid': (changePasswordForm.get('passwordConfirmation').errors && changePasswordForm.get('passwordConfirmation').touched)}">
        <ion-label position="fixed">{{ 'FORGOT_PASSWORD.PASSWORD_CONFIRMATION_INPUT_LABEL' | translate }}</ion-label>
        <ion-input formControlName="passwordConfirmation" type="password" fill="outline"></ion-input>
      </ion-item>

      <ion-button type="submit" expand="block" fill="outline" shape="round" class="mamut-button"
        [disabled]="changePasswordForm.invalid">
        {{ 'FORGOT_PASSWORD.CHANGE_PASSWORD_BUTTON' | translate }}
      </ion-button>

    </form>

  </div>
</ion-content>